<!-- Display the question -->
<p>Question: {{ question }}</p>
<!-- Display the answer -->
<p>Answer: {{ answer }}</p>

<form (ngSubmit)="onSubmit(userAnswer, answerForm)" #answerForm="ngForm">
  <mat-form-field>
    <input matInput type="number"
           placeholder="Answer"
           [(ngModel)]="userAnswer"
           name="userAnswer"
           required>
  </mat-form-field>

  <button mat-flat-button color="primary"
          type="submit"
          [disabled]="!answerForm.form.valid">Submit
  </button>
</form>

<!-- Display the button only when the answer is correct and the form is submitted -->
<button *ngIf="getIsCorrect()" mat-flat-button color="primary" routerLink="/cat-image">View Cat Image</button>
