<!-- Display the question -->
<p>Question: {{ question }}</p>
<!-- Display the answer -->
<!-- <p>Answer: {{ getAnswer() }}</p> -->

<form (ngSubmit)="onSubmit(userAnswer, answerForm)" #answerForm="ngForm">
  <mat-form-field>
    <input matInput type="number"
           placeholder="Answer"
           [(ngModel)]="userAnswer"
           name="userAnswer"
           required>
  </mat-form-field>

  <button mat-flat-button color="primary"
          type="submit"
          [disabled]="!userAnswer"
  >Submit
  </button>
</form>

<!-- Display the button only when the answer is correct and the form is submitted -->
<p *ngIf="getIsCorrect()">{{ messageWhenCorrect }}</p>
<p *ngIf="!getIsCorrect() && isSubmitted">{{ messageWhenIncorrect }}</p>
<button *ngIf="getIsCorrect()"
        mat-flat-button color="primary"
        routerLink="/cat-image"
>Claim Reward</button>
